<!DOCTYPE html>
<html>
<head>
	<title>Contract App</title>
</head>
<body>
	<h1>Cadastro de Prestadores</h1>
	<form method="post">
		<input type="text" values="" name="nome"/>
		<input type="text" values="" name="cpfCnpj"/>
		<input type="text" values="" name="email"/>
		<input type="text" values="" name="dtNascimento"/>
		<input type="text" values="" name="identidade"/>
		<input type="text" values="" name="endereco"/>
		<input type="text" values="" name="banco"/>
		<input type="text" values="" name="agencia"/>
		<input type="text" values="" name="conta"/>
		<input type="text" values="" name="tipoPrestador"/>
		
		<button type="submit">Salvar</button>
	
	</form>

</body>
</html>
